$MainColor: #212529;

.color {
  color: $MainColor;
}
.my-alert {
  background: rgba(238, 238, 238, 0.5);
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  p {
    margin-bottom: 0;
  }
}

//이런식으로 @extend를 사용하면 모든걸 다 복붙할 필요가 없음
.my-alert-bold {
  @extend .my-alert;
  font-weight: bold;
}

.nav.nav-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
button.btn.btn-outline-dark {
  margin-bottom: 20px;
}
.nav-link {
  transition: 0.125s;
  color: #212529;
}
.nav-link:focus,
.nav-link:hover {
  color: #212529;
  font-weight: bold;
}

//애니메이션 시작 때 적용할 CSS
.tabTransition-enter {
  opacity: 0;
}
//애니메이션 동작 때 적용할 CSS
.tabTransition-enter-active {
  opacity: 1;
  transition: all 500ms;
}

.alertTransition-enter {
  opacity: 0;
}
.alertTransition-enter-active {
  opacity: 1;
  transition: all 500ms;
}
.alertTransition-exit {
  opacity: 1;
}
.alertTransition-exit-active {
  opacity: 0;
  transition: all 500ms;
}

// nesting (중요)
// ex) nesting을 사용하기 전인 기본 css 문법
// div.container h4 {
//   color: blue;
// }
// div.container p {
//   color: green;
// }
// sass를 활용해 nesting을 사용한 css 문법
// div.container {
//   h4 {
//     color: blue;
//   }
//   p {
//     color: green;
//   }
// }
